.body-container {
    margin-top: 3.9rem;
}
.dashboard-card-one {
    position: fixed; 
}

.dashboard-card-two {
    border-radius: 0px; 
}

.container-fluid {
    padding-bottom: 10rem;
}