@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");  
.contenido {
    margin: 30px auto;
    max-height: 930px;
    max-width: 300px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(202, 202, 204); 
    border-radius: 2px; 
}
.contenido .details {
    padding-left: 5px;
    width: 100%;
    background:white;
    border-top: 1px dashed #c3c3c3; 
}
.contenido .tinfo {
    font-size: 0.5em;
    font-weight: 300;
    color: #c3c3c3;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 7px 0;
}

.contenido .tdata {
    font-size: 0.7em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    margin:7px 0;
    width: 100%;
}

.contenido .name {
    font-size: 1.0em;
    font-weight: 300;
}

.contenido .link {
    text-align: center;
    margin-top:10px;
}

.contenido a {
    text-decoration: none;
    color:#55C9E6;  
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.7px;
    font-size: 0.7em;
}
.contenido .hqr{
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0px auto;
}
.contenido .left-one{
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 96% , rgba(0,0,0,0) .2em, gray .3em, white .1em);
}
.contenido .right-one{
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 100% 96% , rgba(0,0,0,0) .2em, gray .3em, white .1em);
}
.contenido .column
{
    display: table-cell;
    padding: 37px 0px;
}
.contenido .center{
    background:white;
}

.contenido #qrcode img{
    height:70px;
    width:70px;
    margin: 0 auto;
}
.contenido .masinfo{
    display:block;
}
.contenido .left,.right{
    width:49%;
    display:inline-table;
}

.contenido .nesp{
    letter-spacing: 0px;
}